In [1]:
## Exercise 1: import necessary libraries to carry out analysis using pandas and to visualise the dataset
# Ensure that the pandas is downloaded 'pip install pandas'
import pandas as pd
# Ensure that the matplotlib is downloaded 'pip install matplotlib'
import matplotlib as plt
# Ensure that the matplotlib is downloaded 'pip install numpy'
import numpy as np

In [2]:
df = pd.read_csv('brazilian_amazon_fires_1999_2019.csv')


## Exercise 2: Load the data and display the first few rows
df.head(10) # This outputs the first 10 rows -

   year  month        state   latitude  longitude  firespots
0  1999      1     AMAZONAS  -2.371113 -59.899933          3
1  1999      1     MARANHAO  -2.257395 -45.487831         36
2  1999      1  MATO GROSSO -12.660633 -55.057989         18
3  1999      1         PARA  -2.474820 -48.546967         87
4  1999      1     RONDONIA -12.861700 -60.513100          1
5  1999      1      RORAIMA   3.403225 -60.622853         15
6  1999      2        AMAPA  -0.155000 -52.683100          1
7  1999      2     AMAZONAS  -2.763167 -63.429781         43
8  1999      2  MATO GROSSO -12.619988 -55.375363          8
9  1999      2         PARA  -2.150617 -53.509911        285

In [ ]:
df.head(10)

In [ ]:
# Test for joint repository

In [ ]:
# Change